*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    
}


/* main content */
#content{
    position: relative;
    width: 100%;
    height: 40vh;

  
    margin-top: 25vh;

    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
}

.item{
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 25vh;
    height: 90%;
  
   
    border-radius: 10px;
    margin-left: 5%;
    vertical-align: middle;
}

.item_title_box{
    margin-top: 7vw;
    width: 100%;
    height: 50%;
    padding-top: 5%;

    
}


.item_title{

    padding-left: 15px;
    padding-right: 15px;
    white-space: normal;
    text-align: center;
}